<div class="row">
	<div class="medium-8 columns">
		<form action="/register" method="POST" id="registration-form" class="clearfix">
		  <input type="text" id="username" name="username" class="radius" placeholder="Username" value="{{ request.form.username }}" required autofocus />
		  <input type="password" id="password" name="password" class="radius" placeholder="Password" value="{{ request.form.password }}" required />
		  <input type="password" class="radius" placeholder="Verify password" data-equalto="password" required />
		  <input type="email" id="email" name="email" class="radius" placeholder="Email" value="{{ request.form.username }}" required />
		  <button type="submit" class="button small right radius" id="register">Register</button>
		</form>
	</div>
	<div class="medium-4 columns">
		<a class="button radius small right" href="/login/facebook"><i class="fa fa-facebook"></i> facebook</a>
	</div>
</div>