<section class="sidebar">

  <h4 class="panel-legend">wallet</h4>
  <div class="wallet panel">
    <ul>
       <li id="dyf-balance"><b>DYF</b> <span class="amount">{{ g.user.wallet.dyf_balance }}</span></li>
    </ul>
  </div>

  {% if g.my_games|length %}
  <h4 class="panel-legend">my games</h4>
  <div id="my-games" class="panel">
    <ul>
      {% for mg in g.my_games %}
        <li><a href="/play/{{ mg.name }}/{{ mg.id }}" class="game-listing my-game" data-game-id="{{ mg.id }}">{{ mg.name }} ({{ mg.players.all()|length }}/{{ mg.rules['min_players'] }})</a></li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}

  {% if g.open_games|length %}
  <h4 class="panel-legend">open games</h4>
  <div id="open-games" class="panel">
    <ul>
      {% for og in g.open_games %}
        <li><a href="/play/{{ og.name }}/{{ og.id }}"class="game-listing open-game" data-game-id="{{ og.id }}">{{ og.name }} ({{ og.players.all()|length }}/{{ og.rules['min_players'] }})</a></li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}

  {% if g.friends %}
  <h4 class="panel-legend">friends</h4>
  <div id="friends" class="user-list panel">
    <ul>
      {% for u in g.friends.accept %}
        <li class="request">{% if u.avatar %}<img class="avatar" src="{{ u.avatar }}" />{% else %}<i class="fa fa-user"></i>{% endif %}<span>{{ u.username }}</span><div class="status"><a class="accept" data-user-id="{{ u.id }}"><i class="fa fa-check-square"></i></a><a class="reject" data-user-id="{{ u.id }}"><i class="fa fa-minus-square"></i></a></div></li>
      {% endfor %}
      {% for u in g.friends.pending %}
        <li class="pending">{% if u.avatar %}<img class="avatar" src="{{ u.avatar }}" />{% else %}<i class="fa fa-user"></i>{% endif %}<span>{{ u.username }}</span><div class="status">pending</div></li>
      {% endfor %}
      {% for u in g.friends.friends %}
        <li>{% if u.avatar %}<img class="avatar" src="{{ u.avatar }}" />{% else %}<i class="fa fa-user"></i>{% endif %}<span>{{ u.username }}</span></li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}

  {% if g.others %}
  <h4 class="panel-legend">others</h4>
  <div id="others" class="user-list panel">
    <ul>
      {% for u in g.others %}
        <li>{% if u.avatar %}<img class="avatar" src="{{ u.avatar }}" />{% else %}<i class="fa fa-user"></i>{% endif %}<span class="friendable" data-user-id="{{ u.id }}">{{ u.username }}</span></li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}

  <h4 class="panel-legend">chat</h4>
  <div class="chat-box panel">

    <div id="chat-box">
      <ul>
        <li>welcome to dyffy!</li>
      </ul>
    </div>
  </div>
  <form id="broadcast" method="POST" action='#'>
    <div class="row collapse clearfix">
      <div class="small-10 columns">
        <input type="text" name="broadcast_data" id="broadcast_data" placeholder="speak your mind">
      </div>
      <div class="small-2 columns">
        <button type="submit" class="button postfix right">send</a>
      </div>
    </div>
  </form>

</section>