<!doctype html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html lang="en" data-useragent="Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; Trident/6.0)">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>dyf.fm</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/foundation.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
  <link rel="stylesheet" type="text/css" href='//fonts.googleapis.com/css?family=Sunshiney|Lato:300|Open+Sans:300|Gochi+Hand' />
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <script src="{{ url_for('static', filename='js/vendor/modernizr.js') }}"></script>
  <script>
    {% if g.user.is_authenticated() %}
      window.login = true;
      window.user_id = {{ session.user_id }};
      window.username = "{{ session.user }}";
      window.admin = '{{ session.admin }}' === 'True';
    {% else %}
      window.login = false;
      window.admin = false;
    {% endif %}
  </script>
</head>
<body>
  <div id="fb-root"></div>
  <div id="whole-body-wrapper">
    {% include "navbar.html" %}
    {% if g.user.is_authenticated() %}
      <section id="main-block">
        <div id="chart-container"></div>
        {% include "content.html" %}
        <div class="vertical-spacer-25"></div>
      </section>
    {% else %}
      <section id="splash-block">
        {% block splash %}{% endblock %}
        <div id="transaction-results"></div>  
        {% include "splash-buttons.html" %}
      </section>
      {% include "footer.html" %}
    {% endif %}
  </div>
  {% block lightbox %}{% endblock %}
  <div id="modal-dynamic" class="reveal-modal small" data-reveal>
    <h3 id="modal-header"></h3>
    <div id="modal-body"></div>
    <a class="close-reveal-modal">&#215;</a>
  </div>
  <script src="{{ url_for('static', filename='js/vendor/jquery.js') }}"></script>
  <script src="{{ url_for('static', filename='js/vendor/jquery-migrate-1.2.1.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/vendor/jquery.countdown.js') }}"></script>
  <script src="{{ url_for('static', filename='js/vendor/underscore-min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/vendor/socket.io.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/vendor/highstock.src.js') }}"></script>
  <script src="{{ url_for('static', filename='js/vendor/exporting.src.js') }}"></script>
  <script src="{{ url_for('static', filename='js/dyffm.js') }}"></script>
  <script src="{{ url_for('static', filename='js/foundation/foundation.js') }}"></script>
  <script src="{{ url_for('static', filename='js/foundation/foundation.dropdown.js') }}"></script>
  <script src="{{ url_for('static', filename='js/foundation/foundation.topbar.js') }}"></script>
  <script src="{{ url_for('static', filename='js/foundation/foundation.tab.js') }}"></script>
  <script src="{{ url_for('static', filename='js/foundation/foundation.reveal.js') }}"></script>
  <script>
    $(document).foundation();
    var doc = document.documentElement;
    doc.setAttribute('data-useragent', navigator.userAgent);
  </script>
</body>
</html>