<div class="row full-width">
  <div class="row">
    <div class="large-12 columns" id="wallet-block">
      <form id="existing-wallet" method="POST" action='#'>
        <center><h5>{{ session.user }}</h5></center>
        <hr />
        <div id="display-dyff-balance"></div>
        <div id="display-coin-balance"></div>
        <hr />
      </form>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <div class="large-8 columns" style="float:right;padding-right:0;">
        <dl class="tabs" data-tab style="float:right">
          <dd id="predict-tab">
            <a href="#panel2-3"><h4>Share<br /><small>music</small></h4></a>
          </dd>
          <dd class="active" id="battle-tab">
            <a href="#panel2-4"><h4>Head-to-head<br /><small>song battle</small></h4></a>
          </dd>
        </dl>
        <div style="clear:both"></div>
        <div class="tabs-content">
          <div class="content" id="panel2-3">
            no sharing for you
          </div>
          <div class="content active" id="panel2-4">
            <div class="row centered">
              <h4>Betting on: <span class="selected-market-left">Dogecoin</span> vs <span class="selected-market-right">Bitcoin</span></h4>
            </div>
            <div class="row centered">
              <h6>
                Current round ends in 
              </h6>
              <div class="time-remaining">
                <div class="cell">
                  <div class="digits"></div>
                </div>
              </div>
            </div>
            <div class="row centered">
              <div class="large-6 columns">
                <div class="row centered"><h4 class="selected-market-left"> <span id="price-change-left"></span></h5></div>
                <div class="row centered">
                  <div class="current-bets" id="current-bets-left"></div>
                </div>
                <form id="bet-left" method="POST" action="#">
                  <div class="row centered">
                    <div class="large-8 columns">
                      <input type="text" id="bet-input-left" placeholder="Amount to bet" />
                    </div>
                    <div class="large-4 columns end">
                      <select id="bet-denomination-left">
                        <option value="DYF">Dyffs (DYF)</option>
                        <option value="ROX">Roxcoins (ROX)</option>
                        <option value="BTC">Bitcoins (BTC)</option>
                      </select>
                    </div>
                  </div>
                  <div class="row centered">
                    <button type="submit" class="button expand small radius bet-button">
                      Bet on <span class="selected-market-left"></span>
                    </button>
                  </div>
                </form>
              </div>
              <div class="large-6 columns end">
                <div class="row centered"><h4 class="selected-market-right"> <span id="price-change-right"></span></h5></div>
                <div class="row centered">
                  <div class="current-bets" id="current-bets-right"></div>
                </div>
                <form id="bet-right" method="POST" action="#">
                  <div class="row centered">
                    <div class="large-8 columns">
                      <input type="text" id="bet-input-right" placeholder="Amount to bet" />
                    </div>
                    <div class="large-4 columns end">
                      <select id="bet-denomination-right">
                        <option value="DYF">Dyffs (DYF)</option>
                        <option value="ROX">Roxcoins (ROX)</option>
                        <option value="BTC">Bitcoins (BTC)</option>
                      </select>
                    </div>
                    <div class="row centered">
                      <button type="submit" class="button expand small radius bet-button">
                        Bet on <span class="selected-market-left"></span>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row full-width">
  <div class="large-12 columns">
    <div id="chat-box">
      <div id="babble">Welcome to dyf.fm!</div>
    </div>
  </div>
  <div class="vertical-spacer-25"></div>
  <div class="large-12 columns">
    <form id="broadcast" method="POST" action='#'>
      <input type="text" name="broadcast_data" id="broadcast_data" placeholder="Say something!" />
      <input type="submit" value="Babble" class="right" />
    </form>
  </div>
</div>
