<div class="fixed">
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        <h1><a href="{{ url_for('index') }}" id="title-text">dyf.fm</a></h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
    </ul>
    <section class="top-bar-section">
      <ul class="left">
        <li class="divider"></li>
        <li><span id="live-feed"></span></li>
      </ul>
      <ul class="right">
        <li class="divider"></li>
        <li>
          <a href="#">Chart</a>
        </li>
        <li class="divider"></li>
        {% if g.user.is_authenticated() %}
          {% if session.admin %}
            <li>
              <a href="#">Admin</a>
            </li>
          {% endif %}
          <li>
            <a href="{{ url_for('index') }}">Home</a>
          </li>
          <li class="divider"></li>
          <li class="has-dropdown">
            <a href="{{ url_for('profile', username=session.user) }}">{{ session.user }}</a>
            <ul class="dropdown">
              <li>
                <a href="{{ url_for('profile', username=session.user) }}">Profile</a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="{{ url_for('logout') }}">Logout</a>
              </li>
            </ul>
          </li>
        {% endif %}
        {% if not g.user.is_authenticated() %}
          <li><a href="{{ url_for('register') }}">Register</a></li>
          <li class="divider"></li>
          <li><a href="{{ url_for('login') }}">Login</a></li>
        {% endif %}
      </ul>
    </section>
  </nav>
</div>