{% extends "base.html" %}

{% block extra_head %}
{% endblock %}

{% block main %}
  <div class="profile page row" id="user-profile">
    <div class="small-12 columns">

      <div class="row">

        <div class="medium-3 columns">
          <div id="avatar">
            {% if g.user.avatar %}
              <img src="{{ g.user.avatar }}" alt="avatar" />
            {% else %}
              <img src="{{ profile_pic }}" alt="avatar" />
            {% endif %}
          </div>
        </div>
        <div class="medium-9 columns end" id="vitals">
          <h2 class="profile-username">{{ g.user.username }}</h2>
          <p>dyffy member since {{ g.user.created }}</p>
          <p>last on {{ g.user.last_login }}</p>
        </div>
      </div>
    </div>

    <div class="row full-width">
      <div class="large-3 columns">
        &nbsp;
      </div>
      <div class="large-9 columns end">
        {% if g.user.is_authenticated() and user_id == g.user.id %}
          <button class="tiny secondary size-12-font margin-top-15" id="edit-profile-button">Edit Profile</button>
        {% else %}
          <button class="tiny secondary size-12-font margin-top-15" id="add-friend-button">Add Friend</button>
        {% endif %}
        <div id="minor-notify"></div>
      </div>
    </div>
  </div>
{% endblock %}